# Data Cleaning

In [1]:
import pandas as pd

# Read the users dataset.

Take a look at what is the `users.csv` separator.

In [2]:
users = pd.read_csv('../data/users.csv', sep = '#')

## Check its shape

See the number of rows and columns you're dealing.

## Use the .head() to see some rows of your dataframe.

In [3]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

## Get the data info. 

Which columns have a great number of missing values? How many space does this dataframe is occupying in your memory?

In [4]:
users.loc[:, :].isna().sum().max()

32345

## Rename Id column to user_id.

Remember to store you results back at the dataframe.

In [5]:
users = users.rename(columns={'Id':'user_id'})
users

,user_id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40498,6726,1,2011-10-09 13:16:20,AlexAtStack,2012-05-18 09:32:44,NaN,NaN,NaN,0,0,0,203972,NaN,NaN
40499,53426,101,2014-08-05 07:54:54,John J. Camilleri,2014-08-05 08:54:37,http://johnjcamilleri.com,"Gothenburg, Sweden","<p>Accidental computational linguist, de facto...",1,2,0,34865,28.0,https://www.gravatar.com/avatar/5738c02070833b...
40500,21468,101,2013-03-02 07:50:03,Peter L.,2013-03-02 07:50:03,http://www.a1qa.com/,"Minsk, Belarus","<p>QA Manager with comprehensive, cold-blooded...",1,0,0,2211454,32.0,http://www.gravatar.com/avatar/cbd80a5b2a5257d...
40501,54132,1,2014-08-15 10:52:25,user54132,2014-08-15 10:52:25,NaN,NaN,NaN,1,0,0,4894117,NaN,NaN
40502,39943,1,2014-02-10 20:55:19,user1133128,2014-02-10 20:55:19,NaN,NaN,NaN,0,0,0,1151526,NaN,https://www.gravatar.com/avatar/8e983e68f44d99...

# Import the `posts.csv` dataset.

Note that this is a `gzip compressed csv`. In order to read this file correctly, you'll have to read the documentation (or help) of your `pd.read_csv()` function and check the `compression` argument. Try to understand which value of `compression=...` you should put in order to read your dataframe.

In [6]:
posts = pd.read_csv('../data/posts.csv.gzip', compression='gzip')

## Perform the same as above to understand a bit of your data (head, info, shape)

In [7]:
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

In [8]:
posts.info

<bound method DataFrame.info of            Id  PostTypeId  AcceptedAnswerId          CreaionDate  Score  \
0           1           1              15.0  2010-07-19 19:12:12     23
1           2           1              59.0  2010-07-19 19:12:57     22
2           3           1               5.0  2010-07-19 19:13:28     54
3           4           1             135.0  2010-07-19 19:13:31     13
4           5           2               NaN  2010-07-19 19:14:43     81
...       ...         ...               ...                  ...    ...
91971  115374           2               NaN  2014-09-13 23:45:39      2
91972  115375           1               NaN  2014-09-13 23:46:05      0
91973  115376           1               NaN  2014-09-14 01:27:54      1
91974  115377           2               NaN  2014-09-14 02:03:28      0
91975  115378           2               NaN  2014-09-14 02:09:23      0

       ViewCount                                               Body  \
0         1278.0  <p>How should I elicit prior distributions fro...
1         8198.0  <p>In many different statistical methods there...
2         3613.0  <p>What are some valuable Statistical Analysis...
3         5224.0  <p>I have two groups of data.  Each with a dif...
4            NaN  <p>The R-project</p>\n\n<p><a href="http://www...
...          ...                                                ...
91971        NaN  <p>This grew too long for a comment, but I thi...
91972        9.0  <p>Assume a classification problem where there...
91973        5.0  <p>My goal is to create a formula that can giv...
91974        NaN  <p>As a practical answer to the real questions...
91975        NaN  <p>Decision trees are notoriously <strong>unst...

       OwnerUserId      LasActivityDate  \
0              8.0  2010-09-15 21:08:26
1             24.0  2012-11-12 09:21:54
2             18.0  2013-05-27 14:48:36
3             23.0  2010-09-08 03:00:19
4             23.0  2010-07-19 19:21:15
...            ...                  ...
91971        805.0  2014-09-14 02:05:41
91972      49365.0  2014-09-14 02:09:23
91973      55746.0  2014-09-14 01:40:55
91974        805.0  2014-09-14 02:54:13
91975       7250.0  2014-09-14 02:09:23

                                                   Title  ... AnswerCount  \
0                          Eliciting priors from experts  ...         5.0
1                                     What is normality?  ...         7.0
2      What are some valuable Statistical Analysis op...  ...        19.0
3      Assessing the significance of differences in d...  ...         5.0
4                                                    NaN  ...         NaN
...                                                  ...  ...         ...
91971                                                NaN  ...         NaN
91972  Detecting a consistent pattern in a dataset vi...  ...         1.0
91973  How to project video viewcount based on histor...  ...         0.0
91974                                                NaN  ...         NaN
91975                                                NaN  ...         NaN

       CommentCount  FavoriteCount  LastEditorUserId         LastEditDate  \
0                 1           14.0               NaN                  NaN
1                 1            8.0              88.0  2010-08-07 17:56:44
2                 4           36.0             183.0  2011-02-12 05:50:03
3                 2            2.0               NaN                  NaN
4                 3            NaN              23.0  2010-07-19 19:21:15
...             ...            ...               ...                  ...
91971             2            NaN             805.0  2014-09-14 02:05:41
91972             0            NaN               NaN                  NaN
91973             2            NaN            7290.0  2014-09-14 01:40:55
91974             0            NaN             805.0  2014-09-14 02:54:13
91975             0            NaN               NaN                  NaN

        CommunityOwnedDate  ParentId  ClosedDate OwnerDisplayName  \
0                      NaN       NaN         NaN              NaN
1                      NaN       NaN         NaN              NaN
2      2010-07-19 19:13:28       NaN         NaN              NaN
3                      NaN       NaN         NaN              NaN
4      2010-07-19 19:14:43       3.0         NaN              NaN
...                    ...       ...         ...              ...
91971                  NaN  115367.0         NaN              NaN
91972                  NaN       NaN         NaN              NaN
91973                  NaN       NaN         NaN              NaN
91974                  NaN  115358.0         NaN              NaN
91975                  NaN  115375.0         NaN              NaN

      LastEditorDisplayName
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
...                     ...
91971                   NaN
91972                   NaN
91973                   NaN
91974                   NaN
91975                   NaN

[91976 rows x 21 columns]>

In [10]:
posts.shape

(91976, 21)

## Rename Id column to post_id and OwnerUserId to user_id.

Again, remember to check that your results are correctly stored inside the dataframe.

In [11]:
posts = posts.rename(columns = {'Id' : 'post_id', 'OwnerUserId' : 'user_id'})
posts.head()

,post_id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,user_id,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

## Define new dataframes for users and posts with the following selected columns:

**users columns**: user_id, Reputation, Views, UpVotes, DownVotes  
**posts columns**: post_id, Score, user_id, ViewCount, CommentCount, Body

In [12]:
user_columns = ['user_id', 'Reputation', 'Views', 'UpVotes', 'DownVotes']
posts_columns = ['post_id', 'Score', 'user_id', 'ViewCount', 'CommentCount', 'Body']

users_n = users.loc[:,user_columns]

In [13]:
posts_n = posts.loc[:,posts_columns]

**Note:** Check the new posts dataframe's info. What is the most noticeable change? 

Explain why we have chosen only some columns of it in terms of efficiency.

In [14]:
users.loc[:,user_columns].info

<bound method DataFrame.info of        user_id  Reputation  Views  UpVotes  DownVotes
0           -1           1      0     5007       1920
1            2         101     25        3          0
2            3         101     22       19          0
3            4         101     11        0          0
4            5        6792   1145      662          5
...        ...         ...    ...      ...        ...
40498     6726           1      0        0          0
40499    53426         101      1        2          0
40500    21468         101      1        0          0
40501    54132           1      1        0          0
40502    39943           1      0        0          0

[40503 rows x 5 columns]>

In [15]:
posts.loc[:,posts_columns].info

<bound method DataFrame.info of        post_id  Score  user_id  ViewCount  CommentCount  \
0            1     23      8.0     1278.0             1
1            2     22     24.0     8198.0             1
2            3     54     18.0     3613.0             4
3            4     13     23.0     5224.0             2
4            5     81     23.0        NaN             3
...        ...    ...      ...        ...           ...
91971   115374      2    805.0        NaN             2
91972   115375      0  49365.0        9.0             0
91973   115376      1  55746.0        5.0             2
91974   115377      0    805.0        NaN             0
91975   115378      0   7250.0        NaN             0

                                                    Body
0      <p>How should I elicit prior distributions fro...
1      <p>In many different statistical methods there...
2      <p>What are some valuable Statistical Analysis...
3      <p>I have two groups of data.  Each with a dif...
4      <p>The R-project</p>\n\n<p><a href="http://www...
...                                                  ...
91971  <p>This grew too long for a comment, but I thi...
91972  <p>Assume a classification problem where there...
91973  <p>My goal is to create a formula that can giv...
91974  <p>As a practical answer to the real questions...
91975  <p>Decision trees are notoriously <strong>unst...

[91976 rows x 6 columns]>

# Merge the new dataframes you have created, of users and posts. Create a dataframe called `posts_from_users`

You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes. 

Think carefully which should be the key(s) for your merging.

In [16]:
posts_from_users = pd.merge(left = posts_n, right= users_n, on='user_id')
posts_from_users.shape

(90883, 10)

## Check the number of duplicated rows.

Remember you can sum the results of a mask to get how many numbers the True value appeared in the results. This occurs because `True` is interpreted as `1` in Python whereas `False` is interpreted as `0`.

In [17]:
posts_from_users.duplicated(keep=False).sum()

598

## Find those duplicate values and try to understand what happened.

*Hint:* You can use the argument `keep=False` from the `.duplicated()` method to bring the duplication.

*Hint 2:* You can sort the values `by=['user_id', 'post_id']` to see them in order.

In [18]:
posts_from_users.loc[posts_from_users.duplicated(keep=False), :]

,post_id,Score,user_id,ViewCount,CommentCount,Body,Reputation,Views,UpVotes,DownVotes
7481,1289,7,760.0,1139.0,8,<p>I am having difficulties to select the righ...,168,13,13,0
7482,1289,7,760.0,1139.0,8,<p>I am having difficulties to select the righ...,168,13,13,0
7483,8625,6,760.0,1799.0,3,<p>I was fiddling with PCA and LDA methods and...,168,13,13,0
7484,8625,6,760.0,1799.0,3,<p>I was fiddling with PCA and LDA methods and...,168,13,13,0
7485,23987,0,760.0,62.0,3,<p>I was studying on a PAMI article and I have...,168,13,13,0
...,...,...,...,...,...,...,...,...,...,...
90365,113691,0,54911.0,36.0,11,<p>I extract data related to a movie by sentim...,1,1,0,0
90522,114222,3,48159.0,49.0,0,"<p>Dear statistics experts,</p>\n\n<p>I have t...",16,0,0,0
90523,114222,3,48159.0,49.0,0,"<p>Dear statistics experts,</p>\n\n<p>I have t...",16,0,0,0
90557,114349,1,47999.0,34.0,0,<p>I'm having some trouble understanding Leo B...,6,2,0,0
90558,114349,1,47999.0,34.0,0,<p>I'm having some trouble understanding Leo B...,6,2,0,0

## Should you drop it? If you think it is reasonable to drop it, then drop it.

Think: How would you correct it in the first place? That is, what was wrong in the first place?

*Hint:* There's a pandas method to drop duplicates. If you wanted to do it by hand, you could select the indexes of the duplicated values and `.drop()` it.

In [18]:
posts_from_users.drop_duplicates()

,post_id,Score,user_id,ViewCount,CommentCount,Body,Reputation,Views,UpVotes,DownVotes
0,1,23,8.0,1278.0,1,<p>How should I elicit prior distributions fro...,6764,1089,604,25
1,16,16,8.0,NaN,3,<p>Two projects spring to mind:</p>\n\n<ol>\n<...,6764,1089,604,25
2,36,41,8.0,67396.0,7,"<p>There is an old saying: ""Correlation does n...",6764,1089,604,25
3,65,14,8.0,NaN,3,<p>The first formula is the <em>population</em...,6764,1089,604,25
4,78,33,8.0,NaN,4,<p>You tend to use the covariance matrix when ...,6764,1089,604,25
...,...,...,...,...,...,...,...,...,...,...
90878,115366,1,55742.0,17.0,0,<p>Does any standard statistical software like...,6,0,0,0
90879,115370,1,55744.0,13.0,2,<p>im analyzing an article for my studies with...,6,1,0,0
90880,115371,0,35801.0,19.0,0,<p>I am trying to estimate the school effects ...,1,1,0,0
90881,115375,0,49365.0,9.0,0,<p>Assume a classification problem where there...,1,0,0,0
90882,115376,1,55746.0,5.0,2,<p>My goal is to create a formula that can giv...,106,1,0,0

In [19]:
posts_from_users.shape

(90883, 10)

As duplicatas foram retiradas pois eram linhas repetidas

## 10. How many missing values do you have in your merged dataframe? On which columns?

In [20]:
posts_from_users.isnull().sum()

post_id             0
Score               0
user_id             0
ViewCount       48545
CommentCount        0
Body              220
Reputation          0
Views               0
UpVotes             0
DownVotes           0
dtype: int64

In [21]:
posts_from_users.head()

,post_id,Score,user_id,ViewCount,CommentCount,Body,Reputation,Views,UpVotes,DownVotes
0,1,23,8.0,1278.0,1,<p>How should I elicit prior distributions fro...,6764,1089,604,25
1,16,16,8.0,NaN,3,<p>Two projects spring to mind:</p>\n\n<ol>\n<...,6764,1089,604,25
2,36,41,8.0,67396.0,7,"<p>There is an old saying: ""Correlation does n...",6764,1089,604,25
3,65,14,8.0,NaN,3,<p>The first formula is the <em>population</em...,6764,1089,604,25
4,78,33,8.0,NaN,4,<p>You tend to use the covariance matrix when ...,6764,1089,604,25

## Select only the rows in which there at least some missing values.

In [22]:
mask = posts_from_users.isnull().mean()
mask

post_id         0.000000
Score           0.000000
user_id         0.000000
ViewCount       0.534148
CommentCount    0.000000
Body            0.002421
Reputation      0.000000
Views           0.000000
UpVotes         0.000000
DownVotes       0.000000
dtype: float64

In [23]:
posts_from_users[['ViewCount', 'Body']]

       ViewCount                                               Body
0         1278.0  <p>How should I elicit prior distributions fro...
1            NaN  <p>Two projects spring to mind:</p>\n\n<ol>\n<...
2        67396.0  <p>There is an old saying: "Correlation does n...
3            NaN  <p>The first formula is the <em>population</em...
4            NaN  <p>You tend to use the covariance matrix when ...
...          ...                                                ...
90878       17.0  <p>Does any standard statistical software like...
90879       13.0  <p>im analyzing an article for my studies with...
90880       19.0  <p>I am trying to estimate the school effects ...
90881        9.0  <p>Assume a classification problem where there...
90882        5.0  <p>My goal is to create a formula that can giv...

[90883 rows x 2 columns]

## You will need to make something with missing values.  Will you clean or filling them? 

Pay attention. There can be different reasons for the missings numbers. Look at the `user_id` of some of them, look at the body of the message. Which ones you're sure of what should be and which one can you infer? Don't hurry up, take a look at your data.

In [24]:
posts_from_users['ViewCount'].fillna(0)

0         1278.0
1            0.0
2        67396.0
3            0.0
4            0.0
          ...
90878       17.0
90879       13.0
90880       19.0
90881        9.0
90882        5.0
Name: ViewCount, Length: 90883, dtype: float64

## Adjust the data types in order to avoid future issues. Which ones should be changed?

In [25]:
posts_from_users.loc[: , :]

,post_id,Score,user_id,ViewCount,CommentCount,Body,Reputation,Views,UpVotes,DownVotes
0,1,23,8.0,1278.0,1,<p>How should I elicit prior distributions fro...,6764,1089,604,25
1,16,16,8.0,NaN,3,<p>Two projects spring to mind:</p>\n\n<ol>\n<...,6764,1089,604,25
2,36,41,8.0,67396.0,7,"<p>There is an old saying: ""Correlation does n...",6764,1089,604,25
3,65,14,8.0,NaN,3,<p>The first formula is the <em>population</em...,6764,1089,604,25
4,78,33,8.0,NaN,4,<p>You tend to use the covariance matrix when ...,6764,1089,604,25
...,...,...,...,...,...,...,...,...,...,...
90878,115366,1,55742.0,17.0,0,<p>Does any standard statistical software like...,6,0,0,0
90879,115370,1,55744.0,13.0,2,<p>im analyzing an article for my studies with...,6,1,0,0
90880,115371,0,35801.0,19.0,0,<p>I am trying to estimate the school effects ...,1,1,0,0
90881,115375,0,49365.0,9.0,0,<p>Assume a classification problem where there...,1,0,0,0
90882,115376,1,55746.0,5.0,2,<p>My goal is to create a formula that can giv...,106,1,0,0

# Bonus 1: (filtering) What is the average number of comments for users who are above the average reputation?

*Hint:* Calculate the average of the user Reputation. Store it in a variable called `avg_reputation` and then use that variable for filtering the dataset and generating the results for each case (for the case in which `Reputation > {avg_reputation}` and etc.

*Hint 2:* You could create a variable based on that condition and use the group by function perform the task above.

In [45]:
avg_reputation = posts_from_users['Reputation'].mean()
print(avg_reputation)
mask = (posts_from_users['Reputation'] > avg_reputation)
mask_comment = posts_from_users.loc[mask, :]
mask_comment.groupby('user_id').mean()

6263.007812242114

,post_id,Score,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
user_id,,,,,,,,
5.0,1988.692308,12.504274,8898.294118,1.581197,6792.0,1145.0,662.0,5.0
8.0,4403.537190,9.000000,7441.500000,2.115702,6764.0,1089.0,604.0,25.0
88.0,15152.342183,5.020649,1578.090909,1.737463,14082.0,3320.0,4235.0,126.0
159.0,32971.924915,7.150171,11725.875000,2.034130,18283.0,3781.0,1014.0,59.0
183.0,24253.166329,5.835700,2597.880000,1.344828,22625.0,4069.0,2496.0,45.0
251.0,2121.181818,7.530303,753.000000,1.590909,7931.0,984.0,819.0,0.0
401.0,23114.122093,4.668605,496.062500,1.965116,6906.0,1070.0,394.0,6.0
442.0,33775.541985,6.435115,4427.529412,2.206107,6431.0,973.0,857.0,21.0
449.0,9676.019231,5.269231,NaN,1.665385,12813.0,1089.0,1607.0,57.0
601.0,40879.721053,3.252632,599.250000,1.971053,13478.0,1286.0,283.0,17.0
603.0,35942.864341,4.000000,410.023810,3.112403,10647.0,1225.0,683.0,49.0
686.0,56618.879850,2.569462,461.419355,2.013767,44152.0,7357.0,2156.0,82.0
805.0,78081.503488,3.453488,570.625000,2.287209,65272.0,5680.0,7035.0,143.0
887.0,35203.768392,5.019074,751.250000,1.953678,18187.0,1660.0,230.0,4.0
919.0,36398.658638,6.671096,1191.500000,2.544020,87393.0,20932.0,11273.0,779.0
930.0,10013.558952,7.550218,2318.625000,1.668122,31170.0,5529.0,10523.0,214.0
1036.0,34197.245989,4.336898,492.666667,1.925134,8236.0,1305.0,11442.0,43.0
1390.0,36160.041916,6.227545,457.800000,2.467066,10476.0,1165.0,602.0,34.0
1739.0,39744.439560,4.153846,NaN,2.076923,8772.0,881.0,154.0,8.0
1764.0,40147.694444,3.043651,427.411765,1.781746,7461.0,764.0,1264.0,8.0
1909.0,18869.714286,6.516484,938.800000,2.307692,6524.0,681.0,150.0,6.0
2116.0,25837.267218,4.460055,676.250000,2.338843,18088.0,3899.0,3274.0,43.0
2392.0,22822.616822,3.560748,824.111111,2.517134,11860.0,2359.0,883.0,7.0
2817.0,30115.333333,4.010870,1576.634615,1.884058,9604.0,1244.0,1437.0,8.0
2958.0,31649.057762,3.115523,780.000000,1.815884,10470.0,655.0,210.0,6.0
2970.0,21260.244681,13.468085,NaN,3.680851,13647.0,5441.0,2468.0,212.0
3019.0,35895.954545,5.878788,745.476190,2.136364,8045.0,500.0,228.0,57.0
3277.0,39844.139860,4.202797,1380.727273,2.094406,13898.0,2866.0,869.0,12.0
3382.0,40053.981176,1.456471,NaN,1.920000,8009.0,3559.0,183.0,24.0
4253.0,62090.200000,3.997778,667.750000,2.244444,19585.0,6948.0,155.0,56.0
4257.0,21694.696429,3.333333,139.500000,1.880952,6461.0,434.0,186.0,6.0
4376.0,23640.182609,5.756522,191.000000,1.730435,8164.0,611.0,194.0,3.0
4505.0,48101.626324,3.372163,NaN,1.366112,25123.0,1245.0,582.0,4.0
4598.0,62338.889764,3.003937,235.750000,1.744094,8814.0,516.0,314.0,11.0
4856.0,26012.977444,6.342105,304.900000,3.172932,17791.0,5927.0,2122.0,412.0
5739.0,40367.141058,3.571788,359.400000,1.710327,15236.0,2252.0,705.0,16.0
5836.0,32206.241509,5.577358,782.615385,1.864151,11489.0,1319.0,683.0,18.0
6633.0,56150.309524,3.900000,1474.000000,1.590476,9429.0,1534.0,167.0,88.0
7071.0,59688.751825,2.562044,164.269231,1.846715,7663.0,878.0,550.0,21.0
7290.0,57828.455865,4.290206,1201.666667,1.866989,37083.0,5554.0,8641.0,125.0
7555.0,35055.350427,4.008547,NaN,2.213675,11520.0,1101.0,460.0,11.0
7828.0,61879.605670,1.853093,801.285714,1.703608,8635.0,666.0,49.0,110.0
7972.0,37194.950000,2.917647,810.666667,1.694118,11631.0,1050.0,1230.0,187.0
8013.0,65856.571875,2.153125,148.714286,2.287500,7972.0,662.0,108.0,6.0
9394.0,60163.268722,3.955947,925.400000,2.211454,9800.0,946.0,1273.0,54.0
10849.0,39485.423313,3.766871,923.500000,2.337423,7246.0,582.0,403.0,5.0
11032.0,32441.860248,1.981366,825.083333,2.978261,22275.0,7395.0,2619.0,42.0
17230.0,70535.555172,3.006897,264.000000,1.568966,10690.0,1040.0,3079.0,163.0
22047.0,70901.782609,3.417391,NaN,2.153623,13806.0,2722.0,401.0,200.0
28746.0,90879.376499,2.882494,210.454545,2.510791,16108.0,1673.0,63.0,6.0
32036.0,92661.754647,2.078067,355.000000,1.643123,7227.0,991.0,2664.0,143.0

# Bonus 2: (grouping) Group your dataframe by the Reputation of your user. Calculate the mean value of ViewCount and CommentCount for each reputation value.

Suppose the missing values on ViewCount are due a systemic error and you wanted to guess what values should have been there in the first place, but the system abended.

Would that be an interesting candidate for inputting the value for the missing `ViewCount` values? If so, input it with these values.

In [51]:
mask_comment.groupby(['user_id', 'Reputation'])[['ViewCount', 'CommentCount']].mean()

                       ViewCount  CommentCount
user_id Reputation
5.0     6792         8898.294118      1.581197
8.0     6764         7441.500000      2.115702
88.0    14082        1578.090909      1.737463
159.0   18283       11725.875000      2.034130
183.0   22625        2597.880000      1.344828
251.0   7931          753.000000      1.590909
401.0   6906          496.062500      1.965116
442.0   6431         4427.529412      2.206107
449.0   12813                NaN      1.665385
601.0   13478         599.250000      1.971053
603.0   10647         410.023810      3.112403
686.0   44152         461.419355      2.013767
805.0   65272         570.625000      2.287209
887.0   18187         751.250000      1.953678
919.0   87393        1191.500000      2.544020
930.0   31170        2318.625000      1.668122
1036.0  8236          492.666667      1.925134
1390.0  10476         457.800000      2.467066
1739.0  8772                 NaN      2.076923
1764.0  7461          427.411765      1.781746
1909.0  6524          938.800000      2.307692
2116.0  18088         676.250000      2.338843
2392.0  11860         824.111111      2.517134
2817.0  9604         1576.634615      1.884058
2958.0  10470         780.000000      1.815884
2970.0  13647                NaN      3.680851
3019.0  8045          745.476190      2.136364
3277.0  13898        1380.727273      2.094406
3382.0  8009                 NaN      1.920000
4253.0  19585         667.750000      2.244444
4257.0  6461          139.500000      1.880952
4376.0  8164          191.000000      1.730435
4505.0  25123                NaN      1.366112
4598.0  8814          235.750000      1.744094
4856.0  17791         304.900000      3.172932
5739.0  15236         359.400000      1.710327
5836.0  11489         782.615385      1.864151
6633.0  9429         1474.000000      1.590476
7071.0  7663          164.269231      1.846715
7290.0  37083        1201.666667      1.866989
7555.0  11520                NaN      2.213675
7828.0  8635          801.285714      1.703608
7972.0  11631         810.666667      1.694118
8013.0  7972          148.714286      2.287500
9394.0  9800          925.400000      2.211454
10849.0 7246          923.500000      2.337423
11032.0 22275         825.083333      2.978261
17230.0 10690         264.000000      1.568966
22047.0 13806                NaN      2.153623
28746.0 16108         210.454545      2.510791
32036.0 7227          355.000000      1.643123

## refs

Sample database used: https://relational.fit.cvut.cz/dataset/Stats

Stack-overflow database: https://www.brentozar.com/archive/2015/10/how-to-download-the-stack-overflow-database-via-bittorrent/